/* Estilos generales para la Modal */
.modal-contacto {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #fff;
 padding: 20px;
 border-radius: 10px;
 max-width: 600px;
 width: 90%;
 box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
 font-family: 'Roboto', sans-serif;
 display: flex;
 flex-direction: column;
 gap: 20px;
 overflow-y: auto;
}

.overlay-contacto {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.7);
}

.titulo-contacto {
 font-size: 1.5rem;
 color: #222;
 text-align: center;
}

.form-contacto {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.form-contacto label {
 font-weight: bold;
 margin-bottom: 5px;
}

.form-contacto input,
.form-contacto textarea {
 padding: 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
 font-size: 1rem;
 width: 100%;
}

.form-contacto textarea {
 height: 100px;
 resize: none;
}

.boton-enviar-contacto {
 background-color: #007bff;
 color: white;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.boton-enviar-contacto:hover {
 background-color: #0056b3;
}

.boton-cerrar-contacto {
 align-self: flex-end;
 background-color: #dc3545;
 color: white;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.boton-cerrar-contacto:hover {
 background-color: #c82333;
}

.mensaje-exito {
 color: green;
 font-weight: bold;
}

.mensaje-error {
 color: red;
 font-weight: bold;
}
